#Uncomment the code below by removing the "#" and replace "shortn" for the folder your script is in

#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} -d [OR]
#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule ^ - [L]
#RewriteRule ^shortn/([a-zA-Z0-9]+)$ shortn/?code=$1